<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178825183604-dosamobdebdfetsbotne9i0a6690b7ru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178825183604-dosamobdebdfetsbotne9i0a6690b7ru</string>
	<key>API_KEY</key>
	<string>AIzaSyBw1PvykqwolmKKcHXHedeX3iocvwfJsRE</string>
	<key>GCM_SENDER_ID</key>
	<string>178825183604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>classwork.BooksApp</string>
	<key>PROJECT_ID</key>
	<string>booksapp-b709e</string>
	<key>STORAGE_BUCKET</key>
	<string>booksapp-b709e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178825183604:ios:f12804fdbadbfa7aef6c21</string>
	<key>DATABASE_URL</key>
	<string>https://booksapp-b709e-default-rtdb.firebaseio.com</string>
</dict>
</plist>